@tailwind base;
@tailwind components;
@tailwind utilities;

.view-recipes-container {
    background-image: url("https://img.freepik.com/free-vector/background-template-design-with-happy-chef-smiling_1308-43129.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}